@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  ul {
    li {
      a {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        &.active {
          color: green;
        }
      }
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
